<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
		http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-2.0.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	
	<!-- DAOs -->
	<bean id="abstractGenericDao" class="com.voigt.hwd.server.dao.hibernate.GenericDaoHibernateImpl" abstract="true">
		<property name="hibernateTemplate"><ref bean="hibernateTemplate"/></property>
	</bean>
	
	<bean id="teamDao" class="com.voigt.hwd.server.dao.hibernate.TeamDao" parent="abstractGenericDao" />
	<bean id="userDao" class="com.voigt.hwd.server.dao.hibernate.UserDao" parent="abstractGenericDao" />
	<bean id="roleDao" class="com.voigt.hwd.server.dao.hibernate.RoleDao" parent="abstractGenericDao" />
	<bean id="matchDao" class="com.voigt.hwd.server.dao.hibernate.GenericDaoHibernateImpl" parent="abstractGenericDao" >
		<constructor-arg value="com.voigt.hwd.domain.Match" />
	</bean>
	<bean id="matchDayDao" class="com.voigt.hwd.server.dao.hibernate.GenericDaoHibernateImpl" parent="abstractGenericDao" >
		<constructor-arg value="com.voigt.hwd.domain.MatchDay" />
	</bean>
	<bean id="seasonDao" class="com.voigt.hwd.server.dao.hibernate.GenericDaoHibernateImpl" parent="abstractGenericDao" >
		<constructor-arg value="com.voigt.hwd.domain.Season" />
	</bean>
	<bean id="leagueDao" class="com.voigt.hwd.server.dao.hibernate.GenericDaoHibernateImpl" parent="abstractGenericDao" >
		<constructor-arg value="com.voigt.hwd.domain.League" />
	</bean>
	
</beans>